<h1>New Song</h1>

<%= form_for :song do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </p>

  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
