<div class="col-xs-12">
<h1><%= @artist.name %></h1>
<div class="col-xs-12 col-md-3"><%= image_tag(@artist.image_url, class: 'img-circle img-responsive') %></div>
<div class="col-xs-12">
<h6>Bio:</h6>
<p><%= @artist.description %></p>
<p><%=link_to 'View All', artists_path, class: 'btn btn-default btn-xs' %>
<%=link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-success btn-xs' %>
<%=link_to 'Delete', @artist, method: :delete, data: {confirm: "You sure homey?"}, class: 'btn btn-danger btn-xs' %></p>
</div>
